<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Admin Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/add_user.css' %}" />
  </head>
  <body>
    <div class="login-container">
      <!-- Back arrow -->
      <a href="/admin_login/" class="back-arrow">&#8592; Back</a>

      <h1>Admin Registration</h1>
      <form method="POST" action="/submit_admin/">
        {% csrf_token %}

        <input
          type="text"
          name="first_name"
          placeholder="First Name"
          required
        />
        <input type="text" name="last_name" placeholder="Last Name" required />
        <input type="number" name="age" placeholder="Age" required />
        <input type="email" name="email" placeholder="Email" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />

        <input type="submit" value="Submit" />
      </form>

      {% if error %}
      <p class="error">{{ error }}</p>
      {% endif %}
    </div>
  </body>
</html>
